addict==2.4.0
aiofiles==22.1.0
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.11.1
bleach==5.0.1
bokeh==2.4.3
branca==0.6.0
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
chroma-hnswlib==0.7.3
chromadb==0.4.14
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorcet==3.0.1
coloredlogs==15.0.1
comm==0.1.2
commonmark==0.9.1
contourpy==1.0.6
cycler==0.11.0
dataclasses-json==0.6.1
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
Django==4.2.3
django-cors-headers==4.2.0
djangorestframework==3.14.0
docutils==0.19
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
fastapi==0.103.2
fastjsonschema==2.16.2
filelock==3.9.0
Fiona==1.9.0
Flask==2.2.2
flatbuffers==23.5.26
folium==0.14.0
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.9.2
geographiclib==2.0
geopandas==0.12.2
geopy==2.3.0
gmplot==1.4.1
grpcio==1.59.0
h11==0.14.0
hjson==3.1.0
holoviews==1.15.4
httpcore==0.16.3
httptools==0.6.0
httpx==0.23.1
huggingface-hub==0.17.3
humanfriendly==10.0
hvplot==0.8.3
idna==3.4
importlib-metadata==5.2.0
importlib-resources==6.1.0
ipykernel==6.19.2
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.3
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.18.2
Jinja2==3.1.2
jsonpatch==1.33
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.5.0
jupyter_client==7.4.8
jupyter_core==5.1.0
jupyter_server==2.0.1
jupyter_server_terminals==0.4.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.4
justpy==0.12.0
keyring==23.13.1
kiwisolver==1.4.4
langchain==0.0.312
langsmith==0.0.43
Markdown==3.4.1
MarkupSafe==2.1.1
marshmallow==3.20.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mistune==2.0.4
monotonic==1.6
more-itertools==9.0.0
mpmath==1.3.0
multidict==6.0.4
munch==2.5.0
mypy-extensions==1.0.0
nba-api==1.2.1
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
nest-asyncio==1.5.6
nominatim==0.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.26.0
onnxruntime==1.16.0
openai==0.28.1
opencv-python==4.6.0.66
openpyxl==3.0.10
overrides==7.4.0
packaging==22.0
pandas==1.5.2
pandocfilters==1.5.0
panel==0.14.4
param==1.13.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pipenv==2023.7.11
pkginfo==1.9.2
platformdirs==2.6.0
posthog==3.0.2
prometheus-client==0.15.0
prompt-toolkit==3.0.36
protobuf==4.24.4
psutil==5.9.4
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
pycparser==2.21
pyct==0.5.0
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.13.0
pyparsing==3.0.9
pypdf==3.16.4
PyPDF2==3.0.1
PyPika==0.48.9
pyproj==3.4.1
pyrsistent==0.19.2
PySimpleGUI==4.60.5
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.4
pytz==2021.1
pyviz-comms==2.2.1
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
readme-renderer==37.3
redis==4.5.5
regex==2023.10.3
requests==2.28.1
requests-toolbelt==0.10.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.0.0
Send2Trash==1.8.0
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
spotipy==2.23.0
SQLAlchemy==2.0.21
sqlparse==0.4.4
stack-data==0.6.2
starlette==0.27.0
sympy==1.12
tenacity==8.2.3
terminado==0.17.1
tiktoken==0.5.1
tinycss2==1.2.1
tokenizers==0.14.1
tornado==6.2
tqdm==4.65.0
traitlets==5.7.1
twine==4.0.2
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.8.0
uri-template==1.2.0
urllib3==1.26.13
uvicorn==0.20.0
uvloop==0.17.0
virtualenv==20.17.1
virtualenv-clone==0.5.7
watchfiles==0.20.0
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
Werkzeug==2.2.2
widgetsnbextension==4.0.4
xlrd==2.0.1
xyzservices==2022.9.0
yarl==1.9.2
zipp==3.11.0
